* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 32px;
}
body {
  background-image: url(images/generic_bc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#input {
  font-size: 30px;
}
#submit {
  background-color: transparent;
  border: 0;
}
#loc_input {
  background-color: rgb(85, 60, 60);
  border-radius: 5px;
}
main {
  display: flex;
}

#left,
#right {
  flex: 1;
  padding: 24px;
  margin: 24px;
}

#right {
  display: grid;
  justify-content: end;
}

.info {
  font-size: 33px;
}
.info_container {
  padding-bottom: 5px;
  display: grid;
  justify-content: left;
}
